DB_USER=username
DB_PASS=passworf
DB_HOST=hostname
DB_NAME=data_base_name

EMAIL_SMTP_HOST=smtp.youhost.com
EMAIL_ADDR=you@email.ru
EMAIL_PASS=password
EMAIL_PORT=port_number
EMAIL_ENC=encript_protocol
